.gridContainer {
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: 70% auto;

    gap: 15px;
    padding: 15px;

    box-sizing: border-box;
    height: 90vh;
    margin-left: 15px;
    margin-right: 15px;
}

#gridItem1,
#gridItem2,
#gridItem3 {
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    border-radius: 2vh;
    display: grid;
    grid-template-rows: 50px auto;
    overflow-x: hidden;
}


#conleft {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

#gridItem1,
#gridItem2,
#gridItem3 {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#gridItem3 {
    grid-column: 1 / 3;
}

.headerRight,
.headerAns,
.headerBlock {
    background-color: #1693c0;
    text-align: center;
    font-size: 21px;
    width: 100% +20px;
    font-weight: 900;
    color: white;
    margin: 0;
    line-height: 50px;
}

.conrightA,
.conrightA2,
#conrightC1 {
    min-width: 85px;
    min-height: 30px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 1vh;
    border: 3px solid #1693c0;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}


#conrightC1 {
    width: 100%;
    min-height: 100%;
    justify-content: center;
}

.codeRed,
#show1 {
    padding: 20px 25px;
}

mark {
    color: #c01616d1;
    background-color: transparent;
}

select,
.text {
    display: inline-block;
    border: 3px solid #1693c0bb;
}

.text {
    width: 155px;
}

input[type=text] {
    text-align: center;
}

option,
.Ldescription {
    font-size: 14px;
}

.list1 {
    background-color: #96d4e9;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.676);
    font-weight: bold;
    text-align: center;
    cursor: grab;
    border-radius: 1vh;
    text-wrap: nowrap;
}

.listE1 {
    background-color: #e76464;
}

.listE2 {
    background-color: #e4b256;
}

.listE2B {
    background-color: #ec9766;
}

.listE3 {
    background-color: #e2e46c;
}

#conrightC1 .listE1I {
    text-align: left;
    display: flex;
    flex-direction: column;
}


.Ldescription {
    text-align: center;
}

.conrightA .listE2I {
    text-align: left;
    width: 100%;
}

.conrightA .conrightA2 {
    width: 100%;
}

.headerAnsEdit {
    background-color: rgb(52, 202, 190);
    border-bottom: #1693c0 5px solid;
}

#conrightC1 .Ldescription {
    display: none;
}

#conrightC1 {
    width: 100%;
}

#conrightC1 .list2,
#conrightC1 .conrightA,
#conrightC1 .conrightA2 {
    width: 100%;
}

.conrightA .conrightA2 {
    overflow-y: hidden;
}

.conrightA {
    min-height: 30px;
}

.imgText {
    display: inline;
    border: 3px solid #1693c0bb;
    padding: 0 10px;
}

@media screen and (max-height:800px) {

    #conright,
    #conrightE,
    #conrightE2A,
    #conrightE2B {
        min-height: 20px;
        min-width: 47px;
        border: 2px #1693c0 solid;
    }

    
    .imgText{
        border: 2px solid #1693c0bb;
    }
}