@font-face {
    font-family: Kanit;
    src: url(Kanit-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background-color: aliceblue;
}

/* nav---------- */

.NavBar {
    background-color: #16b8c0;
    font-weight: 900;
    height: 10vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.classDropdown {
    top: 180px;
    opacity: 0;
    visibility: hidden;

    left: 280px;
    right: auto;
    position: fixed;
    background-color: #16b8c0;

    transform: translate(-50%, -50%);
    z-index: 4;
    transition: 0.4s;
}

.classDropdown div {
    width: 100%;
    padding: 10px 30px;
    font-size: 23px;
    cursor: pointer;
}

.dropdownHeader {
    cursor: pointer;
    padding: 0 25px;
    font-size: 25px;
    height: 100%;
    margin-left: 41px;
    margin-right: 41px;
    line-height: 10vh;
    background-color: #23d3c488;
}

.classDropdown div:hover,
.dropdownHeader:hover {
    background-color: #23d3c4;
    transition: 0.4s
}

.openDropdown {
    opacity: 1;
    visibility: visible;
}

/* nav---------- */

.gridContainer {
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto;

    gap: 15px;
    padding: 15px;

    box-sizing: border-box;
    height: 90vh;
    margin-left: 15px;
    margin-right: 15px;
}

#gridItem1,
#gridItem2,
#gridItem3 {
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    border-radius: 2vh;
    display: grid;
    grid-template-rows: 50px auto;
    overflow-x: hidden;
}


#conleft {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

#gridItem1,
#gridItem2,
#gridItem3 {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#gridItem3 {
    grid-column: 1 / 3;
}

.headerRight,
.headerAns,
.headerBlock {
    background-color: #1693c0;
    text-align: center;
    font-size: 21px;
    width: 100% +20px;
    font-weight: 900;
    color: white;
    margin: 0;
    line-height: 50px;
}

.conrightA,
.conrightA2,
.conrightB2,
#conrightC1,
#conrightE3,
#conrightE4,
#conrightEStyle {
    min-width: 85px;
    min-height: 30px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 1vh;
    border: 3px solid #1693c0;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.conrightA {
    border: 0;
}

#conrightE3,
#conrightE4 {
    margin-top: -5px;
}


#conrightC1 {
    width: 100%;
    min-height: 100%;
    justify-content: center;
    border: 0;
}

.codeRed,
#show1 {
    padding: 20px 25px;
}

mark {
    color: #c01616d1;
    background-color: transparent;
}

select,
input[type=text] {
    display: inline-block;
    border: 3px solid #1693c0bb;
}

input[type=text] {
    width: 155px;
    text-align: center;
}

option,
.Ldescription {
    font-size: 14px;
}

.list1,
.list2 {
    background-color: #96d4e9;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.676);
    font-weight: bold;
    text-align: center;
    cursor: grab;
    border-radius: 1vh;
    text-wrap: nowrap;
}

.list2 {
    cursor: default;
}

.listE1 {
    color: #bd5858;
    display: inline;
}

.listE2 {
    color: #ddaa4b;
    display: inline;
}

.listE2B {
    background-color: #ecb18f;
}

.listE3 {
    background-color: #eff164;
}

.listE4 {
    background-color: #a4e492;

}

.listE5 {
    background-color: #96e2d9;
}

.list2 {
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
}


.Ldescription {
    text-align: center;
}

.conrightA .listE2I,
.conrightA .listE4 {
    text-align: left;
}

.conrightA .conrightA2,
.conrightA .conrightB2 {
    width: 700px;
    min-height: 590px;
    padding: 15px;

}

.conrightA .conrightB2 {
    min-height: 70px;
}

.headerAnsEdit {
    background-color: rgb(52, 202, 190);
    border-bottom: #1693c0 5px solid;
}

.gridContainerInfo {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#textL5C1 {
    margin-top: 6px;
}

#DropdownMenu4 {
    width: 80px;
}

#conrightC1 .Ldescription {
    display: none;
}